body,html{
    height: 100vh;
    width: 100vw;
    padding: unset;
    margin: unset;
    font-family: 'Century Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: #333;
}

body > *,html > *{
    font-family: 'Century Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: #333;
}

.mobi-logo{
    width: 20vw;
    height: 8vh;
    margin: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/img/mobiauto-logo.png');
}